@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&family=Audiowide&family=Josefin+Sans:ital,wght@0,400;1,300&display=swap');

* {
    box-sizing: border-box;
}


header {
    background: #b9c0c5;
}

img {
    max-height: 100%;
    max-width: 100%;
}

.logo {
    height: 100px;
}

.green {
    background-color: #4fed63 !important;
}

.btn-green {
    background-color: #4fed63 !important;
}

.border-green {
    border: 1px solid #4fed63 !important;
}

h1 {
    font-family: 'audiowide';
    color: #4fed63;
}

.fa-brands {
    color: #4fed63 !important;
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
}